<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>agence immobilier</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Acceuil</display-name>
    <servlet-name>Acceuil</servlet-name>
    <servlet-class>com.please.Acceuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Acceuil</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deconnexion</display-name>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>com.please.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/Deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Favoris</display-name>
    <servlet-name>Favoris</servlet-name>
    <servlet-class>com.please.Favoris</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favoris</servlet-name>
    <url-pattern>/Favoris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Favoris1</display-name>
    <servlet-name>Favoris1</servlet-name>
    <servlet-class>com.please.Favoris1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Favoris1</servlet-name>
    <url-pattern>/Favoris1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Image</display-name>
    <servlet-name>Image</servlet-name>
    <servlet-class>com.please.Image</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Image</servlet-name>
    <url-pattern>/Image</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.please.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.please.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test1</display-name>
    <servlet-name>Test1</servlet-name>
    <servlet-class>com.please.Test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test1</servlet-name>
    <url-pattern>/Test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test2</display-name>
    <servlet-name>Test2</servlet-name>
    <servlet-class>com.please.Test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test2</servlet-name>
    <url-pattern>/Test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>com.please.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User1</display-name>
    <servlet-name>User1</servlet-name>
    <servlet-class>com.please.User1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User1</servlet-name>
    <url-pattern>/User1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User2</display-name>
    <servlet-name>User2</servlet-name>
    <servlet-class>com.please.User2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User2</servlet-name>
    <url-pattern>/User2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User3</display-name>
    <servlet-name>User3</servlet-name>
    <servlet-class>com.please.User3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User3</servlet-name>
    <url-pattern>/User3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Visite</display-name>
    <servlet-name>Visite</servlet-name>
    <servlet-class>com.please.Visite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Visite</servlet-name>
    <url-pattern>/Visite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Listefavoris</display-name>
    <servlet-name>Listefavoris</servlet-name>
    <servlet-class>com.please.Listefavoris</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Listefavoris</servlet-name>
    <url-pattern>/Listefavoris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test3</display-name>
    <servlet-name>Test3</servlet-name>
    <servlet-class>com.please.Test3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test3</servlet-name>
    <url-pattern>/Test3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test4</display-name>
    <servlet-name>Test4</servlet-name>
    <servlet-class>com.please.Test4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test4</servlet-name>
    <url-pattern>/Test4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.please.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Personnel</display-name>
    <servlet-name>Personnel</servlet-name>
    <servlet-class>com.please.Personnel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Personnel</servlet-name>
    <url-pattern>/Personnel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControleurMessageServlet</display-name>
    <servlet-name>ControleurMessageServlet</servlet-name>
    <servlet-class>com.please.ControleurMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControleurMessageServlet</servlet-name>
    <url-pattern>/ControleurMessageServlet</url-pattern>
  </servlet-mapping>
</web-app>