<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee" id="WebApp_ID" version="2.5">
  <display-name>backoffice</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AjoutAgentServlet</display-name>
    <servlet-name>AjoutAgentServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutAgentServlet</servlet-name>
    <url-pattern>/prive/ajoutagent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutBienServlet</display-name>
    <servlet-name>AjoutBienServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutBienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutBienServlet</servlet-name>
    <url-pattern>/prive/ajouterbien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutPropServlet</display-name>
    <servlet-name>AjoutPropServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutPropServlet</servlet-name>
    <url-pattern>/prive/ajoutprop</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthControlFilter</display-name>
    <filter-name>AuthControlFilter</filter-name>
    <filter-class>agence.backoffice.AuthControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthControlFilter</filter-name>
    <url-pattern>/prive/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherAgentServlet</display-name>
    <servlet-name>ChercherAgentServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherAgentServlet</servlet-name>
    <url-pattern>/prive/chercheragent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherPropServlet</display-name>
    <servlet-name>ChercherPropServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherPropServlet</servlet-name>
    <url-pattern>/prive/chercherprop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifAgentServlet</display-name>
    <servlet-name>DescriptifAgentServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifAgentServlet</servlet-name>
    <url-pattern>/prive/descriptifagent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifPropServlet</display-name>
    <servlet-name>DescriptifPropServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifPropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifPropServlet</servlet-name>
    <url-pattern>/prive/descriptifprop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>agence.backoffice.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/prive/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>agence.backoffice.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>agence.backoffice.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieAgentServlet</display-name>
    <servlet-name>ModifieAgentServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifieAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieAgentServlet</servlet-name>
    <url-pattern>/prive/modifieagent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifiePropServlet</display-name>
    <servlet-name>ModifiePropServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifiePropServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifiePropServlet</servlet-name>
    <url-pattern>/prive/modifieprop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeAgentServlet</display-name>
    <servlet-name>SupprimeAgentServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeAgentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeAgentServlet</servlet-name>
    <url-pattern>/prive/supprimeagent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeProprietaireServlet</display-name>
    <servlet-name>SupprimeProprietaireServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeProprietaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeProprietaireServlet</servlet-name>
    <url-pattern>/prive/supprimeproprietaire</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutAgent</servlet-name>
    <jsp-file>/WEB-INF/agentajouter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutAgent</servlet-name>
    <url-pattern>/prive/ajouteragent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AjoutProp</servlet-name>
    <jsp-file>/WEB-INF/propajouter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutProp</servlet-name>
    <url-pattern>/prive/ajouterprop</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherBienServlet</display-name>
    <servlet-name>ChercherBienServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherBienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherBienServlet</servlet-name>
    <url-pattern>/prive/chercherbien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifBienServlet</display-name>
    <servlet-name>DescriptifBienServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifBienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifBienServlet</servlet-name>
    <url-pattern>/prive/descriptifbien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieBienServlet</display-name>
    <servlet-name>ModifieBienServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifieBienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieBienServlet</servlet-name>
    <url-pattern>/modifiebien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeBienServlet</display-name>
    <servlet-name>SupprimeBienServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeBienServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeBienServlet</servlet-name>
    <url-pattern>/prive/supprimebien</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutContratServlet</display-name>
    <servlet-name>AjoutContratServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutContratServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutContratServlet</servlet-name>
    <url-pattern>/prive/ajoutercontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherContratServlet</display-name>
    <servlet-name>ChercherContratServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherContratServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherContratServlet</servlet-name>
    <url-pattern>/prive/cherchercontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifContratServlet</display-name>
    <servlet-name>DescriptifContratServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifContratServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifContratServlet</servlet-name>
    <url-pattern>/prive/descriptifcontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieContratServlet</display-name>
    <servlet-name>ModifieContratServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifieContratServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieContratServlet</servlet-name>
    <url-pattern>/prive/modifiecontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeContratServlet</display-name>
    <servlet-name>SupprimeContratServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeContratServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeContratServlet</servlet-name>
    <url-pattern>/prive/supprimecontrat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutVisiteServlet</display-name>
    <servlet-name>AjoutVisiteServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutVisiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutVisiteServlet</servlet-name>
    <url-pattern>/prive/ajoutervisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherVisiteServlet</display-name>
    <servlet-name>ChercherVisiteServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherVisiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherVisiteServlet</servlet-name>
    <url-pattern>/prive/cherchervisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifVisiteServlet</display-name>
    <servlet-name>DescriptifVisiteServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifVisiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifVisiteServlet</servlet-name>
    <url-pattern>/prive/descriptifvisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeVisiteServlet</display-name>
    <servlet-name>SupprimeVisiteServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeVisiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeVisiteServlet</servlet-name>
    <url-pattern>/prive/supprimevisite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjoutClientServlet</display-name>
    <servlet-name>AjoutClientServlet</servlet-name>
    <servlet-class>agence.backoffice.AjoutClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjoutClientServlet</servlet-name>
    <url-pattern>/prive/ajouterclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChercherClientServlet</display-name>
    <servlet-name>ChercherClientServlet</servlet-name>
    <servlet-class>agence.backoffice.ChercherClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChercherClientServlet</servlet-name>
    <url-pattern>/prive/chercherclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DescriptifClientServlet</display-name>
    <servlet-name>DescriptifClientServlet</servlet-name>
    <servlet-class>agence.backoffice.DescriptifClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DescriptifClientServlet</servlet-name>
    <url-pattern>/prive/descriptifclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimeClientServlet</display-name>
    <servlet-name>SupprimeClientServlet</servlet-name>
    <servlet-class>agence.backoffice.SupprimeClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimeClientServlet</servlet-name>
    <url-pattern>/prive/supprimeclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieClientServlet</display-name>
    <servlet-name>ModifieClientServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifieClientServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieClientServlet</servlet-name>
    <url-pattern>/prive/modifieclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EcrireMessageServlet</display-name>
    <servlet-name>EcrireMessageServlet</servlet-name>
    <servlet-class>agence.backoffice.EcrireMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EcrireMessageServlet</servlet-name>
    <url-pattern>/prive/ecriremessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BoiteMessageServlet</display-name>
    <servlet-name>BoiteMessageServlet</servlet-name>
    <servlet-class>agence.backoffice.BoiteMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoiteMessageServlet</servlet-name>
    <url-pattern>/prive/boitemessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConversationServlet</display-name>
    <servlet-name>ConversationServlet</servlet-name>
    <servlet-class>agence.backoffice.ConversationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConversationServlet</servlet-name>
    <url-pattern>/prive/conversation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifieVisiteServlet</display-name>
    <servlet-name>ModifieVisiteServlet</servlet-name>
    <servlet-class>agence.backoffice.ModifieVisiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifieVisiteServlet</servlet-name>
    <url-pattern>/prive/modifievisite</url-pattern>
  </servlet-mapping>
</web-app>